.ocdi__demo-import-notice:not(:empty) {
	background-color: transparent!important;
	border-left: 0px!important;
	box-shadow: none!important;
	padding: 0px!important;
}
.ocdi__demo-import-notice img {
	border: 4px solid #dbe3ea!important;
	width: auto!important;
}

div[aria-describedby="js-ocdi-modal-content"] .ui-dialog-buttonpane button {
    background-color: #0085ba !important;
    color: #fff !important;
    border: 1px solid #0085ba !important;
}